<div fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <canvas id="c"></canvas>
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <mat-card class="card" >
        <mat-card-title>Productos de {{planetP.planetName}}</mat-card-title>
        <mat-card-subtitle>
          Escoge el producto que quieres comprar
        </mat-card-subtitle>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]= "chosenProduct">
          <mat-radio-button class="example-radio-button" *ngFor="let product of products" [value]="product">
            {{ product.product.productName }}
          </mat-radio-button>
        </mat-radio-group>
        <div>Tu producto escogido es: {{ chosenProduct.product.productName}}</div>
    
        <mat-card-actions align="end">
        <button mat-button color="primary">
            Compra
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card2">
        <mat-card-title>Productos de tu crew</mat-card-title>
        <mat-card-subtitle>
          Escoge el producto que quieres vender
        </mat-card-subtitle>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]= "chosenCrewProduct">
          <mat-radio-button class="example-radio-button" *ngFor="let crewProduct of crewProducts" [value]="crewProduct">
            {{ crewProduct.product.productName }}
          </mat-radio-button>
        </mat-radio-group>
        <div>Tu producto escogido es: {{ chosenCrewProduct.product.productName}}</div>
    
        <mat-card-actions align="end">
        <button mat-button color="primary">
            Vende
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
