<div>
  <canvas id="c"></canvas>
  <mat-card class="card">
    <mat-card-title class="title">Estrellas más cercanas desde {{star.starName}}</mat-card-title>
    <mat-card-subtitle>
      Escoge la estrella a la que quieres viajar
    </mat-card-subtitle>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]= "chosenStar">
      <mat-radio-button class="example-radio-button" *ngFor="let star of stars" [value]="star">
        {{ star.starName }}
      </mat-radio-button>
    </mat-radio-group>
    <div>Tu estrella escogida es: {{ chosenStar.starName }}</div>

    <mat-card-actions align="end">
      <button mat-button color="primary" [routerLink]="['/ship/', player, chosenStar.id]">
        Viajar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
