* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

::ng-deep * {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/images/theTraderPrincipal.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.card{
  width: 230px;
  position: absolute;
  top: 50%;
  margin-left: 100px;
}
