<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>The Trader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <mat-card class="card">
      <mat-card-title>The Trader</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-actions align="end">
        <button mat-button color="primary">Comenzar</button>
      </mat-card-actions>
    </mat-card>
  </body>
</html>
