* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  }
  
  ::ng-deep * {
    margin: 0;
    padding: 0;
  }
  
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  }
  
  ::ng-deep * {
    margin: 0;
    padding: 0;
  } 
  
  .bod {
    background-image: url('/assets/images/theTraderPrincipal.svg'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
  }

  .card{
    width: 400px;
    position: absolute;
    top: 30%;
    margin-left: 100px;
    padding: 20px;
  }
  
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }